@font-face {
  font-family: 'alertadis';
  src:  url('fonts/alertadis.eot?ejyd2a');
  src:  url('fonts/alertadis.eot?ejyd2a#iefix') format('embedded-opentype'),
    url('fonts/alertadis.ttf?ejyd2a') format('truetype'),
    url('fonts/alertadis.woff?ejyd2a') format('woff'),
    url('fonts/alertadis.svg?ejyd2a#alertadis') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'alertadis' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alertadis-bell-outline:before {
  content: "\e971";
}
.icon-alertadis-bell:before {
  content: "\e972";
}
.icon-alertadis-donut-chart:before {
  content: "\e973";
}
.icon-alertadis-light-chart:before {
  content: "\e974";
}
.icon-alertadis-light-location:before {
  content: "\e975";
}
.icon-alertadis-location-point:before {
  content: "\e976";
}
.icon-alertadis-substation1:before {
  content: "\e977";
}
.icon-alpha-a-circle-outline:before {
  content: "\e96c";
}
.icon-alpha-m-circle-outline:before {
  content: "\e96d";
}
.icon-alpha-r-circle-outline:before {
  content: "\e96e";
}
.icon-substation:before {
  content: "\e96f";
}
.icon-target-variant:before {
  content: "\e970";
}
.icon-alertadis-account-hard-hat-outline:before {
  content: "\e900";
}
.icon-alertadis-alpha-a-circle-outline:before {
  content: "\e901";
}
.icon-alertadis-alpha-m-circle-outline:before {
  content: "\e902";
}
.icon-alertadis-alpha-r-circle-outline:before {
  content: "\e903";
}
.icon-alertadis-angle-double-right:before {
  content: "\e904";
}
.icon-alertadis-angle-down:before {
  content: "\e905";
}
.icon-alertadis-angle-left-b:before {
  content: "\e906";
}
.icon-alertadis-angle-right-b:before {
  content: "\e907";
}
.icon-alertadis-angle-up:before {
  content: "\e908";
}
.icon-alertadis-apps:before {
  content: "\e909";
}
.icon-alertadis-aproveitamento-hidreletrico:before {
  content: "\e90a";
}
.icon-alertadis-bolt:before {
  content: "\e90b";
}
.icon-alertadis-brightness:before {
  content: "\e90c";
}
.icon-alertadis-chart-bubble:before {
  content: "\e90d";
}
.icon-alertadis-chart:before {
  content: "\e90e";
}
.icon-alertadis-check-circle:before {
  content: "\e90f";
}
.icon-alertadis-check:before {
  content: "\e910";
}
.icon-alertadis-clock:before {
  content: "\e911";
}
.icon-alertadis-cloud-download:before {
  content: "\e912";
}
.icon-alertadis-cloud-showers-alt:before {
  content: "\e913";
}
.icon-alertadis-cloud-upload:before {
  content: "\e914";
}
.icon-alertadis-earth:before {
  content: "\e915";
}
.icon-alertadis-edit-alt:before {
  content: "\e916";
}
.icon-alertadis-envelope-alt:before {
  content: "\e917";
}
.icon-alertadis-exclamation-triangle:before {
  content: "\e918";
}
.icon-alertadis-eye-slash:before {
  content: "\e919";
}
.icon-alertadis-eye:before {
  content: "\e91a";
}
.icon-alertadis-facebook:before {
  content: "\e91b";
}
.icon-alertadis-file-search-alt:before {
  content: "\e91c";
}
.icon-alertadis-filter:before {
  content: "\e91d";
}
.icon-alertadis-flash:before {
  content: "\e91e";
}
.icon-alertadis-floresta:before {
  content: "\e91f";
}
.icon-alertadis-fogo-alerta:before {
  content: "\e920";
}
.icon-alertadis-fogo:before {
  content: "\e921";
}
.icon-alertadis-fullscreen:before {
  content: "\e922";
}
.icon-alertadis-heart-outline:before {
  content: "\e923";
}
.icon-alertadis-heart:before {
  content: "\e924";
}
.icon-alertadis-hidrologica:before {
  content: "\e925";
}
.icon-alertadis-history:before {
  content: "\e926";
}
.icon-alertadis-import:before {
  content: "\e927";
}
.icon-alertadis-info-circle:before {
  content: "\e928";
}
.icon-alertadis-instagram:before {
  content: "\e929";
}
.icon-alertadis-layers:before {
  content: "\e92a";
}
.icon-alertadis-lightbulb-off-outline:before {
  content: "\e92b";
}
.icon-alertadis-linkedin:before {
  content: "\e92c";
}
.icon-alertadis-logo-simepar:before {
  content: "\e92d";
  color: #fff;
}
.icon-alertadis-lupa-cancelado:before {
  content: "\e92e";
}
.icon-alertadis-map-marker-outline:before {
  content: "\e92f";
}
.icon-alertadis-map:before {
  content: "\e930";
}
.icon-alertadis-meteorologica:before {
  content: "\e931";
}
.icon-alertadis-minus-circle:before {
  content: "\e932";
}
.icon-alertadis-minus:before {
  content: "\e933";
}
.icon-alertadis-navigation:before {
  content: "\e934";
}
.icon-alertadis-onda:before {
  content: "\e935";
}
.icon-alertadis-padlock:before {
  content: "\e936";
}
.icon-alertadis-pantano:before {
  content: "\e937";
}
.icon-alertadis-pause-circle:before {
  content: "\e938";
}
.icon-alertadis-pause:before {
  content: "\e939";
}
.icon-alertadis-play-circle:before {
  content: "\e93a";
}
.icon-alertadis-play:before {
  content: "\e93b";
}
.icon-alertadis-plus-circle:before {
  content: "\e93c";
}
.icon-alertadis-plus:before {
  content: "\e93d";
}
.icon-alertadis-pluviometrica:before {
  content: "\e93e";
}
.icon-alertadis-pontos-captacao:before {
  content: "\e93f";
}
.icon-alertadis-pontos-efluentes:before {
  content: "\e940";
}
.icon-alertadis-predio:before {
  content: "\e941";
}
.icon-alertadis-radar:before {
  content: "\e942";
}
.icon-alertadis-refresh:before {
  content: "\e943";
}
.icon-alertadis-satellite-variant:before {
  content: "\e944";
}
.icon-alertadis-search:before {
  content: "\e945";
}
.icon-alertadis-setting:before {
  content: "\e946";
}
.icon-alertadis-shield-account:before {
  content: "\e947";
}
.icon-alertadis-signout:before {
  content: "\e948";
}
.icon-alertadis-skip:before {
  content: "\e949";
}
.icon-alertadis-star-outline:before {
  content: "\e94a";
}
.icon-alertadis-star:before {
  content: "\e94b";
}
.icon-alertadis-stop-circle:before {
  content: "\e94c";
}
.icon-alertadis-stop:before {
  content: "\e94d";
}
.icon-alertadis-temperature-three-quarter:before {
  content: "\e94e";
}
.icon-alertadis-termometro:before {
  content: "\e94f";
}
.icon-alertadis-thunderstorm-sun:before {
  content: "\e950";
}
.icon-alertadis-times-circle:before {
  content: "\e951";
}
.icon-alertadis-times:before {
  content: "\e952";
}
.icon-alertadis-titan:before {
  content: "\e953";
}
.icon-alertadis-transmission-tower:before {
  content: "\e954";
}
.icon-alertadis-tune:before {
  content: "\e955";
}
.icon-alertadis-twitter:before {
  content: "\e956";
}
.icon-alertadis-user-circle:before {
  content: "\e957";
}
.icon-alertadis-user:before {
  content: "\e958";
}
.icon-alertadis-users-alt:before {
  content: "\e959";
}
.icon-alertadis-volume:before {
  content: "\e95a";
}
.icon-alertadis-wi-cloud:before {
  content: "\e95b";
}
.icon-alertadis-wi-day-cloudy:before {
  content: "\e95c";
}
.icon-alertadis-wi-day-rain:before {
  content: "\e95d";
}
.icon-alertadis-wi-day-snow-thunderstorm:before {
  content: "\e95e";
}
.icon-alertadis-wi-day-sunny-overcast:before {
  content: "\e95f";
}
.icon-alertadis-wi-day-sunny:before {
  content: "\e960";
}
.icon-alertadis-wi-fog:before {
  content: "\e961";
}
.icon-alertadis-wi-night-alt-cloudy:before {
  content: "\e962";
}
.icon-alertadis-wi-night-alt-partly-cloudy:before {
  content: "\e963";
}
.icon-alertadis-wi-night-alt-rain:before {
  content: "\e964";
}
.icon-alertadis-wi-night-clear:before {
  content: "\e965";
}
.icon-alertadis-wi-night-thunderstorm:before {
  content: "\e966";
}
.icon-alertadis-wi-rain:before {
  content: "\e967";
}
.icon-alertadis-wi-snow:before {
  content: "\e968";
}
.icon-alertadis-wi-snowflake-cold:before {
  content: "\e969";
}
.icon-alertadis-wi-thunderstorm:before {
  content: "\e96a";
}
.icon-alertadis-wind:before {
  content: "\e96b";
}
